@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.6s ease-out forwards;
}

@layer base {
  body {
    @apply bg-gray-900 text-gray-100;
  }
  html {
    scroll-behavior: smooth;
    scrollbar-color: #4f48d3 #1A202C;
    scrollbar-width: thin;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #4f48d3;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: #1A202C;
    border-radius: 10px;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto;
  }
}